@charset "utf-8";
/* CSS Document */
/***
 * 5imoban
 * http://www.www.5imoban.net
 * e-mail: admin@5imoban.net
 */
*{font-size:9pt;border:0;margin:0;padding:0;}
.topleft {
    height: 88px;
    background: url(../images/topleft.jpg) no-repeat;
    float: left;
    width: 300px;
}
.heshuwen{
    background-color:#1c77ac; background-image:url(images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;
}


/*导航栏样式*/
.nav li {
    float: left;
    width: 87px;
    height: 88px;
    text-align: center;
    list-style: none;
}


.nav li a {
    display: block;
    text-decoration:none;
}
.nav li img {
    margin-top: 10px;
}
.nav a h2 {
    font-size: 14px;
    color: #d6e8f1;
}
/*左边框设置*/
.lefttop {
    background: url(../images/lefttop.gif) repeat-x;
    height: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.lefttop span {
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    background: url(../images/leftico.png) no-repeat;
    width: 20px;
    height: 21px;
    float: left;
}

.leftmenu {
    width: 187px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    overflow: hidden;
    background: url(../images/leftline.gif) repeat-y right;
}

.leftmenu div span {
    float: left;
    margin: 10px 8px 0 12px;
}
.leftmenu div {
    background: url(../images/leftmenubg.gif) repeat-x;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px;
    border-right: solid 1px #b7d5df;
}
.menuson {
    display: block;
    line-height: 30px;
    font-weight: normal;
}

.menuson li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuson li a {
    display: block;
}


.menuson li cite {
    display: block;
    float: left;
    margin-left: 32px;
    background: url(../images/list.gif) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 7px;
}
a, a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/*login设置*/
.logintop{
    height:47px;
    position:absolute;
    top:0;
    background:url(../images/loginbg1.png) repeat-x;
    z-index:100; width:100%;
}
.loginbody{
    background:url(../images/loginbg3.png) no-repeat center center;
    width:100%; height:585px;
    overflow:hidden; position:absolute;
    top:47px;}
.loginbm{
    height:50px;
    line-height:50px;
    text-align:center;
    background:url(../images/loginbg2.png) repeat-x;
    position:absolute;
    bottom:0; width:100%;
    color:#0b3a58;}
.logintop span{color:#fff; line-height:47px; background:url(../images/loginsj.png) no-repeat 21px 18px; text-indent:44px; color:#afc5d2; float:left;}

/*login登录*/

.loginbox{
    width:692px;
    height:340px;
    /* background:url(../images/logininfo.png) no-repeat; */
    margin-top:10%;
    position: absolute;
    left: 20%;
}
.loginbox ul{margin-top:88px; margin-left:285px;}
.loginbox ul li{margin-bottom:25px;}
.loginbox ul li label{color:#687f92; padding-left:25px;}
.loginbox ul li label a{color:#687f92;}
.loginbox ul li label a:hover{color:#3d96c9;}
.loginbox ul li label input{margin-right:5px;}
.loginuser{
    width:299px;
    height:48px;
    background:url(../images/loginuser.png) no-repeat;
    border:none; line-height:48px;
    padding-left:44px;
    font-size:14px;
    font-weight:bold;
}
.loginpwd{
    width:299px;
    height:48px;
    background:url(../images/loginpassword.png) no-repeat;
    border:none;
    line-height:48px;
    padding-left:44px;
    font-size:14px;
    color:#90a2bc;}
.loginbtn{
    width:111px;
    height:35px;
    background:url(../images/buttonbg.png) repeat-x;
    font-size:14px;
    font-weight:bold;
    color:#fff;cursor:pointer;
    line-height:35px;}


